# Gradle
gradle
.gradle

# IntelliJ
.idea

# general
build
bin
run
run-data
run-server
src/generated/resources/.cache

# Visual Studio Code
.vscode/
.eclipse/
docs/
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore markdown files in root except README and CONTRIBUTING
/*.md
!/[Rr][Ee][Aa][Dd][Mm][Ee].[Mm][Dd]
!/[Cc][Oo][Nn][Tt][Rr][Ii][Bb][Uu][Tt][Ii][Nn][Gg].[Mm][Dd]
!README.md

# Ignore Python files as they are generally untility scripts unrelated to the project
*.py

*.csv

# Ignore everything in tools/ except wiki sync scripts
tools/*
!tools/sync-wiki.sh
!tools/git-hooks/
!tools/git-hooks/*

gradlew

gradlew.bat
run-gametest/
metadata/dungeon_mobs.md

altar.bbmodel

errors.txt

porting/

gt.log

*.log

run-client.log

metadata/cf.md

metadata/ROADMAP.md
